{% extends "base.html" %}
{% load static %}
{% block title %}Lab Go{% endblock %}

{% block control %}
<div class="container">
    <ul class="nav nav-tabs">
        <li class="{% if active_label == 2 %}active{% endif %}">
            <a data-toggle="tab" href="#recruInfo" class="tab-link" data-url="{% url 'api.get_recrus' %}">招新信息</a>
        </li>

        <li class="{% if active_label == 3 %}active{% endif %}">
            <a data-toggle="tab" href="#labInfo" class="tab-link" data-url="{% url 'api.get_labs' %}">实验室信息</a>
        </li>

        <li class="{% if active_label == 4 %}active{% endif %}">
            <a data-toggle="tab" href="#myApply" class="tab-link" data-url="{% url 'api.get_my_apply' %}">个人申报</a>
        </li>

        {% if has_perm %}
        <li>
            <a data-toggle="tab" href="#labAdmin" class="tab-link" data-url="{% url 'api.get_labs_for_manage' %}">实验室管理</a>
        </li>
        {% endif %}

    </ul>
</div>
<div style="height: 10px;"></div>
{% endblock %}

{% block disp %}
<div class="container">
    <div class="tab-content">
        <div id="recruInfo" class="tab-pane fade {% if active_label == 1 %}in active{% endif %}">
            <h2>招新信息</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>标题</th>
                        <th>内容</th>
                        <th>实验室</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="recruitmentList" data-name="content">
                    <tr>
                        {% for recru in recruitments %}
                            <td>{{ recru.title }}</td>
                            <td>{{ recru.content }}</td>
                            <td>{{ recru.lab.name }}</td>
                            <td>
                                <a href="{% url 'main.index' %}" class="btn btn-primary">查看</a>
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            {% if has_perm %}
            <a href="{% url 'page.add_recruitment' %}" class="btn btn-primary">添加招新信息</a>
            {% endif %}
        </div>

        <div id="labInfo" class="tab-pane fade {% if active_label == 2 %}in active{% endif %}">
            <h2>实验室信息</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>描述</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="LabList" data-name="content">
                    <tr>
                        {% for lab in labs %}
                            <td>{{ lab.name }}</td>
                            <td>{{ lab.description }}</td>
                            <td>
                                <a href="{% url 'main.index' %}" class="btn btn-primary">查看</a>
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
            {% if has_perm %}
            <a href="{% url 'page.add_lab' %}" class="btn btn-primary">添加实验室</a>
            {% endif %}
        </div>

        <div id="myApply" class="tab-pane fade {% if active_label == 3 %}in active{% endif %}">
            <h2>我的申请</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>实验室名称</th>
                        <th>状态</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="myApplyList" data-name="content">
                    <tr>
                        {% for apply in my_appies %}
                            <td>{{ apply.lab.name }}</td>
                            <td>{{ apply.status }}</td>
                            <td>
                                <a href="{% url 'main.index' %}" class="btn btn-primary">查看</a>
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>

        {% if has_perm %}
        <div id="labAdmin" class="tab-pane fade {% if active_label == 4 %}in active{% endif %}">
            <h2>实验室列表</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="labAdminList" data-name="content">
                    <tr>
                        {% for lab in my_labs %}
                            <td>{{ lab.name }}</td>
                            <td>
                                <a href="{% url 'main.index' %}" class="btn btn-primary">查看</a>
                            </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block end_script %}

{% endblock %}