{% extends "base.html" %}
{% load static %}
{% block title %}Lab Go{% endblock %}

{% block control %}
<div class="container">
    <ul class="nav nav-tabs">
        <li class="{% if active_label == 2 %}active{% endif %}">
            <a data-toggle="tab" href="#recruInfo" class="tab-link" data-url="{% url 'api.get_recrus' %}">招新信息</a>
        </li>
        <li class="{% if active_label == 3 %}active{% endif %}">
            <a data-toggle="tab" href="#labInfo" class="tab-link" data-url="{% url 'api.get_labs' %}">实验室信息</a>
        </li>
    </ul>
</div>
<div style="height: 10px;"></div>
{% endblock %}

{% block disp %}
<div class="container">
    <div class="tab-content">
        <div id="recruInfo" class="tab-pane fade {% if active_label == 1 %}in active{% endif %}">
            <h2>招新信息</h2>
            <div id="recruitmentList" data-name="content">

            </div>
            {% if has_perm %}
            <a href="{% url 'page.add_recruitment' %}" class="btn btn-primary">添加招新信息</a>
            {% endif %}
        </div>

        <div id="labInfo" class="tab-pane fade {% if active_label == 2 %}in active{% endif %}">
            <h2>实验室信息</h2>
            <div id="LabList" data-name="content">
                
            </div>
            {% if has_perm %}
            <a href="{% url 'page.add_lab' %}" class="btn btn-primary">添加实验室</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block end_script %}
<script src="{% static 'js/recruitments.js' %}"></script>
{% endblock %}