{% extends "base.html" %}
{% load static %}
{% block title %}Lab Go{% endblock %}

{% block disp %}
<div class="container">
    <h1>学生信息</h1>
    <div class="user-info">
        <div class="info-item">
            <span class="label">姓名:</span>
            <span class="value">{{ target_user.details.name }}</span>
        </div>
        <div class="info-item">
            <span class="label">性别:</span>
            <span class="value">{{ target_user.details.get_gender_display }}</span>
        </div>
        <div class="info-item">
            <span class="label">学号:</span>
            <span class="value">{{ target_user.profile.student_id }}</span>
        </div>
        <div class="info-item">
            <span class="label">专业:</span>
            <span class="value">{{ target_user.details.get_major_display }}</span>
        </div>
        <div class="info-item">
            <span class="label">兴趣爱好:</span>
            <span class="value">{{ target_user.details.hobbies }}</span>
        </div>
        <div class="info-item">
            <span class="label">申请备注:</span>
            <span class="value">{{ apply.remarks }}</span>
        </div>
    </div>
</div>

<style>
    .user-info {
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        padding: 20px;
        margin-top: 20px;
    }

    .info-item {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
    }

    .label {
        font-weight: bold;
        margin-right: 10px;
        font-size: 18px;
        color: #333;
        flex: 1;
        text-align: right;
    }

    .value {
        color: #666;
        font-size: 16px;
        flex: 3;
    }
</style>
{% endblock %}
